
<h1>{{title }}</h1>
  <p>Welcome to {{title }}</p>
  <div>
    {{#each cliente}}
        <p>{{@index}}. {{this.identificacion}}</p>
        <p>{{this.nombre}}</p>
        <p>{{this.direccion}}</p>
        <p>{{this.telefono}}</p>
        <p>{{this.restriccion}}</p>
    {{/each}}
  </div>
   


 
